@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@400;700&display=swap');

 body{
    font-family: 'Open Sans', sans-serif;
    max-width: 600px;
    margin: auto;
    
 }

:root{
    --primary-color: #3B82F6;
    --dark-grey-color: #9CA3AF;
    --off-white-color: #f8f8f8;



}

 /** containers **/
 .container{
     padding-left: 1rem;
     padding-right: 1rem;
     
 }

 .container-center{
     
     max-width: 600px;
     margin : auto;
     
     
 }

 /* links */

 .link{
     text-decoration: none; 
     
 }

 .link-primary-color{
     color: var(--primary-color)
 }

 .link-primary{
     background-color: var(--primary-color);
     border-radius: 0.5rem;
     color: white;
     padding: 0.5rem 1rem;
 }

 .link-secondary{
     color: var(--primary-color);
     border: 1px solid var(--primary-color);
     border-radius: 0.5rem ;
     padding: 0.5rem 1rem;

 }

 .margin{
     margin-top: 1rem;
 }

 /* lists */

 .list-non-bullet{
     list-style: none;
 }

 .list-inline{
     display: inline;
     padding: 0rem 0.5rem;
 }

 /* navigatioin */

 .navigation{
     background-color: var(--primary-color);
     padding: 1rem ;
     color: white;
     border-bottom-right-radius: 1rem;
     
 }

 .navigation .nav-brand {
     font-weight: bold;
 }

 .navigation .link{
     color : white;
     padding-right: 50;
 }

 .navigation .nav-pills{
     text-align: right;
 }

 .navigation .link-active{
     font-weight: bold;
 }

 /* header */

 .header{
     padding: 2rem 1rem 2rem 1rem;
 }

 .header-image{
     margin : auto;
    display: block;
    max-width:300px;

 }

 .header-heading{
     text-align: center;
     color: var(--dark-grey-color);
 }

 .header strong{
     color: var(--primary-color);
 }

 /* sections */

 .section{
     padding: 2rem;
     border-radius: 1rem;
 }

 .section h2{
     text-align: center;
 }
 
 .off-white{
     background-color: var(--off-white-color);

 }

 /* footer */

 .footer{
     background-color: var(--primary-color);
     color: white;
     padding: 1rem;
     border-radius: 1rem;
     text-align: center;
    
 }

 .footer .footer-heading{
     text-align: center;
 }

 .footer ul{
     padding-inline-start: 0px;
     
 }


 .footer .link{
     color:white;
 }


 .blog-img{
     max-width:600px;
 }

 .date{
     font-size: small;
     font-weight: 
 }

 .content{
     font-weight:lighter;
 }

 /* .blog h2{
     font-weight:bold;
 } */

.blog h3{
    font-weight: normal;
    font-style: italic;
}


 
